<!DOCTYPE html>
<html>
    <head>
        <style>
        .blacktext {
            color:red;
        }
        .orangetext {
            color:orange
        }
        </style>
        <title>TwitterOff - {{ title }}</title>
        <!-- CSS, keywords, metadata goes here -->
    </head>

    <body style="background-image:url(https://camo.githubusercontent.com/1c7f5aec63c594bccd43a5ba0474a5fe81dbcf73/68747470733a2f2f7468756d62732e6766796361742e636f6d2f416c69766541646d697261626c654569646f6c6f6e68656c76756d2d6d61782d316d622e676966)">
        <h1 class="orangetext">TwitterOff!</h1>
            <p class="orangetext">Add Twitter users and a fictitious tweet to see which user is more likely to tweet it!</p>
        {% block content %}
        <form bgcolor="#ffa500" class="blacktext" action="/user" method="post">

            <input type="text" STYLE="color: #000000; font-family: Verdana; font-weight: bold; font-size: 12px;
             background-color: #ffa500;" 
            name="user_name" placeholder="User to add">

            <input type="submit"  STYLE="color: #000000; font-family: Verdana;
             font-weight: bold; font-size: 12px; background-color: #ffa500;" value="Add User">

        </form>

        <form bgcolor="#ffa500" action="/compare" method="post">
            <select name="user1" STYLE="color: #000000; font-family: Verdana; font-weight: bold; font-size: 12px;
             background-color: #ffa500; 
            size=100; maxlength=3000">
                {% for user in users %}
                <option bgcolor="#5A5E5C" class="blacktext" value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
            </select>
            <select name="user2" STYLE="color: #000000; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #ffa500;">
                {% for user in users %}
                <option bgcolor="5A5E5C" class="blacktext"value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
            </select>
            <input type="text" STYLE="color: #5A5E5C; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #ffa500; 
            size=100; maxlength=3000" name="tweet_text" placeholder="Tweet text to predict">
            <input type="submit" STYLE="color: #5A5E5C; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #ffa500;"
             value="Compare Users">
        </form>
        {% endblock %}
    </body>
</html>